<div class="uk-flex uk-flex-column uk-flex-middle uk-flex-between {{if this.isLarge "uk-cover" "uk-overlay"}}" {{on "click" this.toggleSize}}>
  <img ...attributes>
  <small class="uk-link uk-margin-small">View {{if this.isLarge "Smaller" "Larger"}}</small>
</div>

