<nav class='uk-navbar-container uk-padding-large uk-padding-remove-vertical' uk-navbar>
  <div class='uk-navbar-left'>
    <LinkTo class="uk-link-reset" @route='index'>
      <h1 class="uk-navbar-item uk-logo uk-heading-xlarge">SuperRentals</h1>
    </LinkTo>
  </div>
  <div class='uk-navbar-right'>
      <div class='uk-navbar-nav'>
        <LinkTo class="uk-link-reset" @route='about'>
          About
        </LinkTo>
        <LinkTo class="uk-link-reset" @route='contact'>
          Contact
        </LinkTo>
      </div>
  </div>
</nav>
