<div class="uk-section uk-section-muted uk-margin-bottom">
   <div class="uk-container uk-flex uk-flex-column uk-flex-middle">
  <label for="type" class="uk-text-italic uk-text-large uk-margin-bottom">
Where would you like to stay?
  </label>
    <Input @value={{this.query}}  id="type"/>
  </div>
</div>
  
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
  {{#each results as |rental|}}
    <div>
      <Rental @rental={{rental}} />
    </div>
  {{/each}}
</Rentals::Filter>
</div>


